h1,h2
    {
    color:blue;
    text-align: center;
    }
p
    {
    color: lime;
    font-size: 50px;
    text-align: center;
    }
body
    {
    background-color: red;
    background-blend-mode: lighten;
    }
.texto
    {
        color: orange;
    }
#titulo
    {
        color: aqua;
        font-size: 200px;
        text-align: top;
    }
.tarjeta
    {
        background-color: rgba(0, 110, 255, 0.658);
        padding: 20px;
        border: 5px dashed;
        border-color: blue;
        border-radius: 50px;
        margin:30px;
    }
.destacado
    {
        color: darkred;
        font-weight: bold;
    }
img
    {
        display: block;
        margin: auto;
    }
.caja
    {
        background-color: lightyellow;
        width: 300px; /*Caja tendra 300 pixeles de ancho*/
        padding: 20px; /*espacio entre texto y borde*/
        border: 2px solid orange; /*Grosor borde y color*/
        margin: auto; /*margen*/
        border-radius: 10px; /* esquinas redondeadas*/
    }